/*Padrão*/
.Card-carros{
    display: flex;
    color: #1351d8;
    gap: 5px;
}

.Card-carros p {
    color: #1351d8;
}

.Card-carros input{
width: 30px;
height: 30px;
}


main div{
    display: flex;
    align-items: center;
    justify-content: center;
}

.Imagens{
margin: 10px;
}


main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

button{
    background-color: #1351dB;
    color: #FFF;
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 10px;
    width: 100px;
    border: none;
    cursor: pointer;
}

button:hover{
    background-color: #0e41af ;
}
@media screen and (max-width: 720px){
    

    button{
        position: relative;
        margin-bottom: 90px
    }


footer{
    position: fixed;  bottom: 0;
}


.Imagens, table, tbody, tr, td{
    display:flex;
    flex-direction: column;
    padding-bottom: 10px;
}

main{
    width: 100%;
}

footer{
    background-color: #1b357e;
    padding: 20px 0;
    color: white;
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    text-decoration: none;
    width: 100%;
    position: relative;
}
}