.links{
    display: flex;
    align-items: center;
}

#Tamanho{
    width: 226px;
}

a{
    text-decoration: none;
    padding: 7px;
    color: #1351d8;
    font-size: 20px;
}
/*Main*/
main{
    padding: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

#pRanger{
    color: #000000;
}

footer{
    position: fixed;
    width: 98%;
    bottom: 0;
}

.Tab p{
    color: #000000;
    
}

.Tab input{
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-radius: 15px;
    
}


button{
    background-color: #1351d8;
    color: #ffffff;
    border-color: #ffffff;
    border-radius: 20px;
    height: 37px;
    width: 150px;
    margin-bottom: 50px;
    
    

}
.Tab{
    display: flex;
    flex-direction: column;
    border-radius: 20px;
}

.Tab select{
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-radius: 15px;
}
@media(max-width: 768px){
    main{
        display: flex;
        flex-direction: column;
    }
}