/*Padrão*/
body{
    font-family : Arial, sans-serif;
    min-height: 100vh;
}


/*Main*/
main{
    padding: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 900px;
    
}

#pRanger{
    color: #000000;
}
.Rangerp{
    width: 90%;
}
.Logof{
    width: 100%;
}
